---
layout: default
---

<div class="home">
  {% if site.theme.header_text %}
  <div class="hero">
    {{ site.theme.header_text }}

        
                <h1>Want more <font color="#ecf05c">eyeballs</font> on <em>your blog?</em></h1>
            <style type="text/css">
            .ck_form input[type="text"], .ck_form input[type="email"] {
	width: 100%;
    color: #383838;
}
            </style>
           <script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>

<div class="ck_form ck_vertical_subscription_form">

  <div class="ck_form_fields">

    <!--  Form starts here  -->
    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/3004/subscribe" data-remote="true">
      <input type="hidden" value="{&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options"></input>
      <input type="hidden" name="id" value="3004" id="landing_page_id"></input>
      <div class="ck_errorArea">
        <div id="ck_error_msg" style="display:none">
          <p>There was an error submitting your subscription. Please try again.</p>
        </div>
      </div>
      <div class="ck_control_group ck_first_name_field_group">
        <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField" placeholder="First Name" required></input>
      </div>
      <div class="ck_control_group ck_email_field_group">
          <input type="email" name="email" class="ck_email_address" id="ck_emailField" required placeholder="Email Address"></input>
      </div>
      <div class="clear inline"></div>
      <button class="subscribe_button ck_subscribe_button btn fields" id='ck_subscribe_button' style="font-weight:bold;">
        YES, PLEASE!
      </button>
    <span class="ck_guarantee">I won&#x27;t send you spam. Unsubscribe at any time.</span>
    </form>
  </div>
 </div>
  </div>
  {% endif %}

<div class="hero-below">
    <div class="logos">
<img src="/img/featlogos2.png" style="">

</div>
            
</div>

<div class="h-text">
    <div class="section group">
        <div class="col span_1_of_2">
            <h3 style="margin-bottom:0px;margin-top:0px;">The Blog Growth Blueprint</h3>
            <h5><em>2015 Edition</em></h5>
            <p>Ever wondered if there was a shortcut to growing your blog traffic and subscribers?</p>
            <p>Overwhelmed by the smorgasbord of tactics, and not sure what you should <em>really</em> be focusing on to build a popular blog?</p>
            <p>This blueprint is for you.</p>
            <a href="/blueprint/" class="button">Snatch your free copy</a></div>
        <div class="col span_1_of_2"><a href="/blueprint/"><img src="/img/bloggrowth-thumb.jpg"></a></div>
    </div>
</div>


<div class="h-text">
    <div class="section group">
        <div class="col span_1_of_2"><a href="/fbadsclass/"><img src="/img/fbadsclass-thumb.png"></a></div>
                <div class="col span_1_of_2">
            <h3 style="margin-top:0px;">Facebook Ads Class</h3>
            <p>Learn how to grow your email list while you catch a snooze using cheap Facebook ads. You'll discover...</p>
                    <ul><li>How to get your first 500 subscribers in 60 days for the price of a cup of coffee/day.</li><li>How to create ad images that convert.</li><li>How to write persuasive ad copy.</li><li>How to use pixels to track conversions.</li></ul></p>
            <a href="/fbadsclass/" class="button">Sign up for the free mini course</a></div>
    </div>
</div>


<div class="h-text-1"><div class="backgroundclip"><h3>Reader Reactions...</h3></div></div>
<div class="h-text-2">

        <p><em>"This is like eating Lays Potato Chips. I just can't put the blog post down!"</em> <strong>–Darrell</strong></p>

<p><em>"What a comfort to discover someone who actually understands what they’re discussing over the internet. Mary certainly knows how to bring an issue to light and make it important."</em> <strong>–Kristin</strong></p>

            <p><em>"This is genius. I mean that with a lot of sincerity."</em> <strong>–Matt</strong></p>
<p><em>"I love, love, love this post! I’d gotten bored with blogging–with my topic, my writing style, my followers, all of it. Then your article slapped me! I’m starting by pouring a heaping load of gratitude on you for igniting my fading embers! Many, many thanks Mary."</em> <strong>–Tonya</strong></p>
    
    <p><em>"Love love love this. I’m discovering this after over 20 years of writing. Thank you for laying out a road map for me to take my blog to the next level."</em> <strong>–Leilani</strong></p>
    
</div>        
</div>
<div style="background-color:#f7f7f7;padding: 3% 20% 0.67em 20%;"><div class="backgroundclip" style="text-align:center;"><h1>Blog</h1></div></div>

          <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      <header>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h2>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
      </header>
      <div class="excerpt">
        {{ post.excerpt }}
        <a class="button" href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme.str_continue_reading }}
        </a>
      </div>
    </div>
    {% endfor %}
        </div>
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}



