---
layout: default
---

<div class="home">
  {% if site.theme.header_text %}
  <div class="hero">
    {{ site.theme.header_text }}
  </div>
  {% endif %}
    
            <div class="h-subscribe">
        
                <h2>Want more traffic & subscribers?</h2><h3>The old methods don’t work anymore.</h3><p>To get bigger results in 2015 and beyond, you’ll have to learn the Art and the Science of persuasive blogging. I’ll show you what I've done that still works, and what I'm doing <em>today</em> to grow a popular blog, from scratch:</p>
            <style type="text/css">
            .ck_form input[type="text"], .ck_form input[type="email"] {
	width: 100%;
    color: #383838;
}
            </style>
           <script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>

<div class="ck_form ck_vertical_subscription_form">

  <div class="ck_form_fields">

    <!--  Form starts here  -->
    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/3004/subscribe" data-remote="true">
      <input type="hidden" value="{&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options"></input>
      <input type="hidden" name="id" value="3004" id="landing_page_id"></input>
      <div class="ck_errorArea">
        <div id="ck_error_msg" style="display:none">
          <p>There was an error submitting your subscription. Please try again.</p>
        </div>
      </div>
      <div class="ck_control_group ck_first_name_field_group">
        <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField" placeholder="First Name" required></input>
      </div>
      <div class="ck_control_group ck_email_field_group">
          <input type="email" name="email" class="ck_email_address" id="ck_emailField" required placeholder="Email Address"></input>
      </div>
      <div class="clear inline"></div>
      <button class="subscribe_button ck_subscribe_button btn fields" id='ck_subscribe_button'>
        Subscribe
      </button> 
    </form>
  </div>
  
 </div>
</div>


            
</div>
    </div>

<div class="logos">

    <ul>
        <li><p class="small">As featured in...</p></li>
        <li><img src="/img/bbt.png" style="max-height:60px;opacity:0.5;"></li>
        <li><img src="/img/aopt.png" style="max-height:70px;opacity:0.5;"></li>        
    </ul>       

</div>


<div class="h-text">
    <p class="small">Kind words for Mary's work...</p>
    <div class="highlight-box"><p><em>"What a comfort to discover someone who actually understands what they’re discussing over the internet. Mary certainly knows how to bring an issue to light and make it important."</em></p><p>–Kristin C.</p>
    </div>

    <div class="yellow-box">
        <p><em>"This is genius. I mean that with a lot of sincerity."</em></p>
        <p>–Matt</p>
    </div>

    <div class="blue-box">
        <p><em>"This felt more like a mini-course than a blog post... I’m an admitted 'skimmer.' However, I read this one all the way through. It was like eating Lays Potato Chips: I just couldn’t put the bag (or the blog post, in this case) down!"</em></p>
    <p>–Darrell E.</p>
    </div>
</div>

<hr>

          <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      <header>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h2>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
      </header>
      <div class="excerpt">
        {{ post.excerpt }}
        <a class="button" href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme.str_continue_reading }}
        </a>
      </div>
    </div>
    {% endfor %}
        </div>
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}



