.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 0.1em;
  }

  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-right: 0.4em;
    }
    @media (max-width: 480px) {
      ul {
        display: inline-block;
        float: left;
        padding-top: $padding-small;
        text-align: left;
        width: 100%;
      }
    }
  }
}

.course-header {
    padding: 3% 6% 6%;
    
    .site-title {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 0.1em;
              color: silver;
  }
    
    .course-title {
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: 0.07em;
              color: #383838;
        margin: 0;
    }
    
        @media (max-width: 480px) {
     .site-title, .course-title {
        display: block;
        padding-top: $padding-small;
        padding-bottom: $padding-small;
        text-align: center;
        width: 100%;
      }
        }
    
     .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

