// Author image

img.author {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}

// Speech bubbles
.bubble-left 
{
position: relative;
width: auto;
height: auto;
@extend %padding-small;
background: #F7f7f7;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: rgba(0,0,0,0.1) solid 1px;
    text-align: center;
}

.bubble-left:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #F7f7f7;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 15%;
}

.bubble-left:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent rgba(0,0,0,0.1);
display: block;
width: 0;
z-index: 0;
left: -16px;
top: 15%;
}

// Full-width
.full-width { width: 100%;   @extend %padding-regular; }

// Subscribe Form
.freddy { 
    width: 120px;
    position: absolute;
    top: -60px;
    right: 50%;
    margin-right: -60px;
    z-index: 99;
    border: 3px solid #f4f4f4;
    background-color: #f4f4f4;
      border-radius: 50%;
    webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.freddy-container {
    position: relative;
}
.overlap { 
    position: absolute;
    top: -90px;
    right: 50%;
    margin-right: -60px;
    z-index: 99;
    color: #ecf05c;
}
.signup { 
    background-color: rgba(255, 255, 255, 0.9); 
    text-align: center;   
    padding: 1% 3%;
    position: relative;
    border-radius: 10px;
    margin-left: 50%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .signup { margin-left: 0; }
}

.call-out .bubble-left {
    margin-left: 50%;
}

.mc-field-group { 
    display: inline-block; 
} /* positions input field horizontally */
.clear { 
    display: inline-block; 
} /* positions button horizontally in line with input */
#mc-embedded-subscribe { 
    background-color: #ecf05c; 
    border: 2px solid #ecf05c; 
    color: #383838; 
}
#mc-embedded-subscribe:hover { 
    background-color: transparent;  
    color: #ecf05c; 
}
.mc-field-group input { 
    padding: 0.5em 0.75em; 
}

/*  COLUMNS  */
.columns {
	clear: both;
  @extend %padding-regular;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 77%; }
.span_1_of_3 { width: 20%; margin-left: 0; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

// Header text feature
.webinar {
    padding: 6% 6% 25% 6%;
    display: inline-block;
    width: 100%;
    background-image: url("/img/hortonplaza.jpg");
    background-color:$header-desc-background-color;
    background-size: cover;
    font-size: 1.2em;
    text-align: center;
    color: $header-desc-text-color;
}
.call-out {
    text-align: center;
    @extend %padding-regular;
    display: inline-block;
    width: 100%;
    background-color:$header-desc-background-color;
    background-image: url("/img/southpark.jpg");
    background-size: cover;
    color: $header-desc-text-color;
    height: 475px;
}
@media only screen and (max-width: 480px) {
    .call-out { height: 200px; }
}
.call-out h1, .call-out h2 { margin: 0 0 1% 0; }

.feature-text {
    text-align: center;
    @extend %padding-regular;
    display: inline-block;
    width: 100%;
    background-color: #e3f8f7;
    margin-top: -5px;
    position: relative;
    font-size: 1.2em;
}
.feature-text h1, .feature-text h2 { margin: 0 0 1% 0; }

.green-signup { 
    background-color: #69c400;
    padding: 1%;
    text-align: center;
    color: #383838;
    position: relative;
    margin-top: 0;
}

.color { 
    background-color: #444349;
    background-image: url("/img/stardust.png");
    padding: 1% 5%;
    text-align: center;
    margin-top: -5px;
}

// Buttons
.blue {
    background-color: #01e7e0 !important;
    border: 2px solid #01e7e0 !important;
    color: inherit;
}
.blue:hover {
    background-color: transparent !important;
    color: inherit !important;
    border: 2px solid #01e7e0 !important;
}

// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    p a:hover {
      @extend %link-hover;
    border-bottom: 1px solid $border-color;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
      @media only screen and (max-width: 480px) {
          .posts .post-teaser { padding: 7.5% 12.5%; }
      }
.sidebar {
    padding: 5% 5% 1% 0%;
}
@media only screen and (max-width: 480px) {
    .sidebar {
        padding: 5%;
    }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
