// Top nav

a.cta {
    padding: 0.1em 0.75em;
    line-height: 1.5;
    height: 2em;
    margin-top: -3px;
    background: #ecf05c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    text-shadow: none;
    color: #383838;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #ecf05c;
}


.community-form {
    margin-top: -90px !important;
}

@media only screen and (max-width: 480px) {
    .community-form {
        margin-top: 0px !important;
    }
}

li.no-padding {
    padding: 0 !important;
}

// Hero image and header text

.hero {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color:$header-desc-background-color;
    background-image: url("/img/stardust.png");
    position: relative;
    color: #fff;
    padding: 3% 20%;
}

.hero h1 {
    margin-bottom: 0;
}

.hero-below {
    @extend %padding-small;  
    background-color: #f7f7f7;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .hero {
        font-size: 0.8em;
    }
}

.logos {
    display: inline-block;
    width: 100%;
    color: #d9d9d9;
}
.logos h3 {
    text-align: center;
}
.logos h2 {
    margin-top: 0;
}
.logos li {
    display: inline;
    float: left;
    margin-right: 2em;
}
.logos ul {
    padding-left: 0;
}
.logos img {
    opacity: 0.5;
}
.container {
    padding: 5% 10% 5% 43%;
}

.h-subscribe { 
    background-color: #444349;
    background-image: url("/img/stardust.png");
    color: #fff;
    text-align: center;
    padding: 5%;
}
.h-subscribe h2, .h-subscribe h4, .h-subscribe h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.h-subscribe h3 {
        margin-top: 0;
}

.padding-regular {
    @extend %padding-regular;
    text-align: center;
}

.h-text {
    @extend %padding-regular;
}

.h-text-2 {
    @extend %padding-regular;
    background: #f7f7f7;
}

.home-mary {
    position: relative;
    width: 100%;
}

.home-mary .bubble-left {
    position: absolute;
    top: 10%;
    left: 44%;
    right: 5%;
    text-align: left;
}

.home-mary .bubble-left::before, .home-mary .bubble-left::after {
    top: 20%;
}

@media only screen and (max-width: 875px) {
    .home-mary .bubble-left {
        visibility: hidden;
    }
}


// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    p a:hover {
      @extend %link-hover;
    border-bottom: 1px solid $border-color;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
      @media only screen and (max-width: 480px) {
          .posts .post-teaser { padding: 7.5% 12.5%; }
      }

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
