// Hero image and header text

.hero {
    height: 500px;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color:$header-desc-background-color;
    background-image: url("/img/southpark.jpg");
    background-size: cover;
    position: relative;
}

@media only screen and (max-width: 480px) {
    .hero {
        height: 350px;
    }
}

.home-text {
    padding: 0 0 0 0 !important;
    background-color: #f7f7f7;
    margin-top: -5px;
}
.home-text h3 {
    text-align: center;
}

.h-subscribe { 
    background-color: #444349;
    background-image: url("/img/stardust.png");
    color: #fff;
    text-align: center;
    margin-top: -5px !important;
}
.h-subscribe h3, .h-subscribe h4, .h-subscribe h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.padding-regular {
    @extend %padding-regular;
    text-align: center;
}

// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    p a:hover {
      @extend %link-hover;
    border-bottom: 1px solid $border-color;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
      @media only screen and (max-width: 480px) {
          .posts .post-teaser { padding: 7.5% 12.5%; }
      }

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
