---
layout: default
---


<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>
    
<div class="opt-in">
    <h3>Enjoyed this post?</h3><p>Sign up below for more, and to hear about my plans (they're hush-hush):</p>
            <style type="text/css">
            .ck_form input[type="text"], .ck_form input[type="email"] {
	width: 100%;
    color: #383838;
}
            </style>
           <script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>

<div class="ck_form ck_vertical_subscription_form">

  <div class="ck_form_fields">

    <!--  Form starts here  -->
    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/3004/subscribe" data-remote="true">
      <input type="hidden" value="{&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options"></input>
      <input type="hidden" name="id" value="3004" id="landing_page_id"></input>
      <div class="ck_errorArea">
        <div id="ck_error_msg" style="display:none">
          <p>There was an error submitting your subscription. Please try again.</p>
        </div>
      </div>
      <div class="ck_control_group ck_first_name_field_group">
        <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField" placeholder="First Name" required></input>
      </div>
      <div class="ck_control_group ck_email_field_group">
          <input type="email" name="email" class="ck_email_address" id="ck_emailField" required placeholder="Email Address"></input>
      </div>
      <div class="clear inline"></div>
      <button class="subscribe_button ck_subscribe_button btn fields" id='ck_subscribe_button'>
        Subscribe
      </button> 
    </form>
  </div>
 </div>

</div>
    
    
</article>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
