* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: $background-color;
}

// Typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-color;
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  line-height: 1.3;
  margin: 0.67em 0;
  a {
    color: $text-color;
  }
}
h1 {
  font-size: 2.5em;
}
h1 span {
    background-color: #fff;
    padding: 0 2%;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.15em;
}
.excerpt p { font-size: 0.95em; }
p.small { font-size: 0.7em; }
p.regular { font-size: 0.85em; }
.subhead {
    font-size: 1.2em;
}
.no-margin { margin: 0; }
.no-margin-bottom { margin-bottom: 0; }
blockquote {
    border-left: 2px solid;
    padding: 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
  @media (max-width: 1100px) {
    overflow-x: scroll;
    display: inline-block;
  }
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}
dt {
  font-weight: bold;
}
dd {
    margin-left: 2em;
}
p, ol, ul, dl, .math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}
.math-display {
  display: inline-block;
  width: 100%;
}
ol, ul {
  list-style-position: inside;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $link-color;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}

hr.dashed-line {
    border-bottom: 1px dashed #fff;
    margin-top: 10px;
    margin-bottom: 30px;
}
.no-margin-bottom {
    margin-bottom: 0;
}

// Font Awesome

a .fa {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a .fa:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.fa-6 { font-size: 3em !important; margin: 0; }

// Buttons

.button {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

// Speech bubbles
.bubble-left 
{
position: relative;
width: auto;
height: auto;
@extend %padding-small;
background: #F7f7f7;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: rgba(0,0,0,0.1) solid 1px;
    text-align: center;
}

.bubble-left:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #F7f7f7;
display: block;
width: 0;
z-index: 1;
margin-top: -15px;
left: -15px;
top: 50%;
}

.bubble-left:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent rgba(0,0,0,0.1);
display: block;
width: 0;
z-index: 0;
margin-top: -15px;
left: -16px;
top: 50%;
}

/* positions bubble arrow to the top when full-width */
@media only screen and (max-width: 480px) {
.bubble-left:after {
    border-width: 0 15px 15px;
    border-color: #f7f7f7 transparent;
    margin-top: 0;
    margin-left: -15px;
    top: -15px;
    left: 50%;
}
.bubble-left:before {
    border-width: 0 15px 15px;
    border-color: rgba(0,0,0,0.1) transparent;
    margin-top: 0;
    left: 0;
    margin-left: -15px;
    top: -16px;
    left: 50%;
}
}

// Circular Image

.circle {
    border-radius: 50%;
}

// MailChimp

.horizontal .mc-field-group { 
    display: inline-block; 
} /* positions input field horizontally */
.mc-field-group, #mc-embedded-subscribe {
    margin: 0.5em 0 0 0;
}
.horizontal .clear { 
    display: inline-block; 
} /* positions button horizontally in line with input */
#mc-embedded-subscribe { 
    background-color: #ecf05c; 
    border: 2px solid #ecf05c; 
    color: #383838; 
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#mc-embedded-subscribe:hover { 
    background-color: transparent;  
    color: #ecf05c; 
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.mc-field-group input, .signup-title { 
    padding: 0.5em 0.75em; 
}
.full-width {
    width: 100%;
}
@media only screen and (max-width: 480px) {
    #mc-embedded-subscribe, .mc-field-group, .mc-field-group input, .signup-title, {
    width: 100%;
    }
    .horizontal .clear {
        display: initial;
    }
}
.signup-title p { margin-bottom: 0; }

/*  COLUMNS  */
.columns {
	clear: both;
  @extend %padding-regular;
	margin: 0px;
}

.popup .columns {
    padding: 0;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 48.5%;
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 65.66%; }
.span_1_of_3 { width: 31.33%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3, .span_1_of_2 { width: 100%; }
}

// Pop-up modal

.overlay {
    background-color: rgba(250, 250, 250, 0.8);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    text-align: center;
    background-color: #444349;
    background-image: url("/img/stardust.png");
    color: #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 30px 70px;
    position: fixed;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: #383838;
    content: "X";
    font-size: 16px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

// LeadPages

.cta-btn {
	display: inline-block;
	border: 2px solid #ecf05c !important;
	border-radius: 3px;
	padding: 20px 30px !important;
	max-width: 100%;
	font-size: 1.5rem;
	font-weight: 700;
    color: #383838;
	background: #ecf05c;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    margin: 0 !important;
}
.cta-btn:hover {
	border: 2px solid #ecf05c !important;
	background: transparent !important;
    color: #383838 !important;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.full-width-btn {
    width: 100%;
    margin-top: 0 !important;
}

.webinar {
    padding: 6% 20%;
    display: inline-block;
    width: 100%;
    background-image: url("/img/photoshoot.jpg");
    background-color:$header-desc-background-color;
    background-size: cover;
    text-align: center;
    color: $header-desc-text-color;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .webinar { padding: 0; }
}

.webinar-header {
    padding: 3% 20%;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-image: url("/img/linedpaper.png");
}
.webinar-header p.meta {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 1%;
    margin-bottom: 3%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .webinar-header, .webinar-footer { padding: 6% !important; }
}
.webinar-footer {
    padding: 0 20% 6% 20%;
    text-align: center;
    background-image: url("/img/linedpaper.png");
}

.calendar-box { 
    background-color: #444349;
    background-image: url("/img/stardust.png");
    text-align: center;   
    padding: 3% 6% 3% 3%;
    margin-left: 25%;
    color: #fff;
}
.benefits-box {
    @extend %padding-small;
    margin-left: 25%;
    background-color: #fff;
    color: #383838;
    text-align: left;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .calendar-box, .benefits-box { margin-left: 0; }
}

.webinar__time {

}
.webinar__time,
.when {
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
}
.calendar {
	float: left;
	margin-right: 15px;
	width:130px;
	font-weight: 700;
	text-align: center;
}
/*  CENTER BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .calendar { float: none; margin-left: auto; margin-right: auto; padding-top: 6%; padding-bottom: 3%; }
}

.calendar__month {
	display: block;
	margin: 0;
	padding: 8px 0;
	font-size: 1.5rem;
	line-height: 1;
	color: #fff;
	background: #72d229;
}
.calendar__date {
	display: block;
	margin: 0;
	padding: 5px 0 9px;
	font-size: 4rem;
	line-height: 1;
	color: #9d9c9c;
	background: #fff;
}
.when {
    text-align: left;
	color: #fff;
}
.when__day {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
}
.when__month-date {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1.9rem;
	font-weight: 700;
}
.when__time {
	clear: both;
	display: block;
	margin: 8px 0 0;
	border-top: 1px dashed #ababab;
	padding: 4px 0 0;
	font-size: 1.2rem;
	font-weight: 400;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .when { width: 100%; text-align: center; padding: 6%; }
}

.benefits {
	margin: 0;
	padding: 0 0 3%;
	list-style: none;
}
.benefits li {
	display: block;
	margin: 20px 0 0;
	padding: 0 0 0 40px;
	position: relative;
	font-size: 1rem;
	font-weight: 100;
	line-height: 1.3;
	color: #383838;
}
.benefits li:before {
	content: '\f00c';
	position: absolute;
	top: -2px;
	left: 0;
	font-family: FontAwesome;
	font-size: 1.5rem;
	color: #72d229;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .benefits { padding: 6%; }
}

.warning {
	margin: 0 0 30px;
}
.warning__msg {
	margin: 0;
	padding: 20px 20px 20px 75px;
	font-size: 0.875rem;
	line-height: 1.42;
	color: #333333;
	background: #fcf0f0;
	position: relative;
}
.warning__msg:before {
	content: '\f071';
	font-family: FontAwesome;
	font-size: 30px;
	color: #e05b49;
	position: absolute;
	top: 20px;
	left: 20px;
}
.warning__cta {
	margin: 0;
	padding: 15px 20px;
	font-size: 1.125rem;
	font-style: italic;
	text-align: center;
	color: #fff;
	background: #444349;
	position: relative;
}
.warning__cta:after {
	display: block;
	content: '';
	margin: 0 auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px 17px 0 17px;
	border-color: #444349 transparent transparent transparent;
	position: absolute;
	bottom: -16px;
	left: 0;
	right: 0;
}

#invite-header { 
    background-color: #444349;
    background-image: url("/img/stardust.png");
    text-align: center;
    @extend %padding-regular;
    color: #fff;
    font-size: 1.2em;
}

#invite-header h1 {
    margin-bottom: 1%;
}
.social-bar {text-align: center;margin-top:-26px;}
.facebook, .twitter{display:inline-block;width:275px;}
.facebook {margin-right:20px;}
.tw-btn-pre,.fb-btn-pre{display: inline-block;margin:0 auto;vertical-align: top; width: 73px;height: 52px; 
  -moz-border-radius: 8px 0px 0px 8px;
  -webkit-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
} 
.tw-btn-pre{
  border-right: 1px solid #eef7fd;
  background: #00bef2 url('../img/tw-lrg.png') no-repeat center center;
}
.fb-btn-pre{
  border-right: 1px solid #9fd3f4;
  background: #0071bb url('../img/fb-lrg.png') no-repeat center center;
}
.fb-btn, .tw-btn {
    display: inline-block;
    margin:0 auto;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    text-align: left;
    padding: 10px 0px 0px 10px;
    font-weight: 100;
}
.fb-btn{
  min-width: 200px;
  height: 52px;
  -moz-border-radius: 0px 8px 8px 0px;
  -webkit-border-radius: 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #0b7ac3;
}
#facebook-btn, #twitter-btn {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#facebook-btn:hover, #twitter-btn:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.tw-btn{
  min-width: 200px;
  height: 52px;
  -moz-border-radius: 0px 8px 8px 0px;
  -webkit-border-radius: 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #6dcff6;
}

.hosts{max-width:560px;margin:40px auto!important;}
.host{margin:20px;text-align: center;}
.host img, .quote-text{vertical-align: middle;display: inline-block;}
.host img{width: 192px;border-radius: 50%;float:none;}
.quote-text{color: #616161;font-size: 26px;float: none !important;display: inline-block;vertical-align: middle;}

.footer{text-align: center;padding:10px 0px 60px;}
.fb-icon, .tw-icon{margin:10px auto;}
.fb-icon:hover, .tw-icon:hover{opacity: 0.6;}
.copyright-text{color: #a6a6a6;font-family: 'Source Sans Pro', sans-serif;font-size: 14px;}

@media only screen and (max-width: 810px) {
  .host img{float:none;}
}

@media only screen and (max-width: 570px) {
  .facebook, .twitter{margin:5px auto 0px;float:none;}
  .headline{line-height: 70px;}
  .subheadline{font-size: 18px;}
}
   
// Bootsrap progress bar

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress-bar-striped {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress .active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}